In [1]:
#ANSWER 1 
def  fact ( n ): 
    if  n == 1 : 
        return  n 
    else : 
        return  n * fact ( n - 1 ) 
n = int ( input ( 'enter n:' ))          
print ( fact ( 5 ))

enter n:5
120

In [3]:
# ANSWER 2 
def  fib ( n ): 
    if  n <= 1 : 
        return  n 
    else : 
        return ( fib ( n - 1 ) + fib ( n - 2 ))
    
n = int ( input ( 'enter n:' )) 
for  i  in  range ( n ):    
         print ( fib ( i ))

enter n:5
0
1
1
2
3

In [4]:
#ANSWER 3 
list1 = [ 10 , 20 , 30 , 40 ] 
sum = 0 ; 
for  i  in  range ( 0 , len ( list1 )): 
    sum = sum + list1 [ i ]
    
print ( sum )

100

In [5]:
#ANSWER 4 
l1 = [ 10 , 21 , 31 , 2 , 87 , 30 , 90 , 2 , 45 , 34 ] 
for  i  in  range ( 0 , len ( l1 )): 
    if  l1 [ i ] % 2 == 0:
         l2 = print ( l1 [ i ])

10
2
30
90
2
34

In [7]:
#ANSWER5
l1 = [ 11 , 23 , 2 , 15 , 64 , 89 , 1896 , 10 , 77 ] 
s = l1 [ 0 ] 
for  i  in  range ( 0 , len ( l1 )): 
    if  l1 [ i ] < s : 
        a = l1 [ i ] 
        ind = i
        
        
print ( a ) 
print ( ind + 1 )

10
8

In [8]:
#ANSWER 6 CASE 1 
str = input ( "enter a string:" ) 
if  str  ==  str [:: - 1 ]: 
    print ( 'palindrome' ) 
else : 
    print ( 'not a palindrome:' )

enter a string:madam
palindrome

In [9]:
#ANSWER 6 CASE 2 
str = input ( "enter a string:" ) 
if  str  ==  str [:: - 1 ]: 
    print ( 'palindrome' ) 
else : 
    print ( 'not a palindrome:' )

enter a string:nill
not a palindrome:

In [10]:
#ANSWER 7 
l1 =  [ 1 ,  2 ,  3 ,  4 ,  5 ,  6 ,  7 ,  8 ,  9 ] 
ec = 0 
oc = 0 
for  i  in  range  ( 0 , len ( l1 )): 
    if  i % 2 == 0 :
         ec = ec + 1 ; 
    else : 
        oc = oc + 1
        
print ( "Number of even numbers =" , end = "" ) 
print ( ec ) 
print ( "Number of odd numbers =" , end = "" ) 
print ( oc )

Number of even numbers =5
Number of odd numbers =4

In [11]:
#ANSWER 8

for  i  in  range  ( 0 , 7 ): 
    if  i == 3  or  i == 6 : 
        continue 
    else : 
        print ( i )

0
1
2
4
5

In [12]:
#ANSWER 9 CASE 1

n = int ( input ( "enter a number:" )) 
c = 0 
for  i  in  range  ( 2 , n + 1 ): 
    if  n % i == 0:
         c = c + 1
        
if  c == 1 : 
    print ( "it's a prime number" ) 
else : 
    print ( "not a prime number" )

enter a number:115
not a prime number

In [13]:
#ANSWER 9 CASE 2

n = int ( input ( "enter a number:" )) 
c = 0 
for  i  in  range  ( 2 , n + 1 ): 
    if  n % i == 0:
         c = c + 1
        
if  c == 1 : 
    print ( "it's a prime number" ) 
else : 
  print(" not a prime number ")

enter a number:11
it's a prime number

In [14]:
#ANSWER 10 CASE 1 
def  rev ( n ): 
    rev = 0 
    while  n > 0 : 
        rem = n % 10 
        rev = rev * 10 + rem 
        n = n // 10 
    return  rev
        
n = int ( input ( "enter a number:" )) 
s1 = n * n 
rev1 = rev ( n ) 
s2 = rev1 * rev1 
if  s1 == rev ( s2 ): 
    print ( "Adam Number" ) 
else : 
    print ( "Not a Adam Number" )

enter a number:17
Not a Adam Number

In [15]:
#ANSWER 10 CASE 2
def  rev ( n ): 
    rev = 0 
    while  n > 0 : 
        rem = n % 10 
        rev = rev * 10 + rem 
        n = n // 10 
    return  rev
        
n = int ( input ( "enter a number:" )) 
s1 = n * n 
rev1 = rev ( n ) 
s2 = rev1 * rev1 
if  s1 == rev ( s2 ): 
    print ( "Adam Number" ) 
else : 
    print ( "Not a Adam Number" )

enter a number:12
Adam Number