In [1]:
###Assignment 27-05-2020
rows = int(input("Enter number of rows"))
for i in range(0, rows):
  for j in range(0,i+1):
    print("*",end=' ')

  print("\r")

Enter number of rows5
*
* *
* * *
* * * *
* * * * *

In [2]:
#answer 2
k=int(input("enter the value of k"))
for i in range (1,11):
  print(k,"*",i,"=",k*i)

enter the value of k7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [5]:
#answer 3
import cmath
a = int(input("enter a"))
b = int(input("enter b"))
c = int(input("enter c"))

d = b*2-4*a*c

p = (-b-cmath.sqrt(d))/(2*a)
q = (-b+cmath.sqrt(d))/(2*a)
print(p,q)

enter a1
enter b2
enter c3
(-1-1.4142135623730951j) (-1+1.4142135623730951j)

In [0]:
#answer 4
def DtoB(n):
  return bin(n).replace("0b", "")

if

In [8]:
#answer 5
n = int(input("enter n"))
f1 = 0
f2 = 1
for x in range(0,n):
  print(f2,end=' ')
  next=f1+f2
  f1=f2
  f2=next

enter n5
1 1 2 3 5